header {
  text-align: center;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

   nav a {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: gray;
}

details {
  font-size: 8px;
  text-align: center;
}
